# build
dist/

# dependencies
node_modules/

# astro
.astro/

# env
.env
.env.*

# OS
.DS_Store
Thumbs.db

# editor
*.swp
*.swo

# wrangler files
.wrangler
.dev.vars*
!.dev.vars.example
!.env.example
